<section>
  <div class="container"> 
    <!-- create employee button -->
    <h2 class="md-3">
      Empleados
      <button 
        type="button" 
        class="btn btn-primary mx-3"
        (click)="openModal('ADD')"
      >
        Crear empleado
        <i class="las la-plus"></i>
      </button>
    </h2>
    <!-- create employee button end's -->
    <!-- search employees by keyword input -->
    <div class="form-group search-input-wrapper">
      <label for="search-text">Buscar empleado(s)</label>
      <input 
        type="text" 
        class="form-control" 
        id="search-input" 
        aria-describedby="search-employees" 
        [(ngModel)]="searchKeyword" 
        placeholder="Introduzca datos del empleado" 
        autofocus
      >
    </div>
    <!-- search employees by keyword input end's -->
    <!-- employees list table -->
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Puesto de trabajo</th>
          <th scope="col">Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (employee of employeesList | searchFilter: searchKeyword; track $index) {
          <tr>
            <td>{{ employee.name + ' ' + employee.lastName }}</td>
            <td>{{ employee.dateOfbirth | dateFormat }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.email }}</td>
            <td>
              <button 
                class="btn btn-outline-primary mx-3"         
                (click)="employeeEditData = employee; openModal('EDIT')"
              >
                <i class="las la-pen"></i>
              </button>
              <button class="btn btn-danger">
                <i class="las la-trash-alt"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <!-- employees list table end's -->
  </div>
</section>
<!-- edit or add employees modal -->
<app-employees-modal #employeesModalComponent (employeeDataSubmit)="employeeDataSubmit($event)" />
<!-- edit or add employees modal end's -->