<!-- edit or add employees modal -->
<app-custom-modal [config]="employeesModalConfig" #modalComponent>
  <ng-template>
    <form [formGroup]="employeeDataForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label class="form-label">Nombres*</label>  
            <input 
              formControlName="name" 
              class="form-control" 
              type="text" 
              placeholder="Nombre(s) del empleado"
              [ngClass]="{'is-invalid': employeeDataFormSubmited && employeeDataForm.controls['name'].errors}"
            >
            @if (employeeDataForm.controls['name'].hasError('required') && employeeDataFormSubmited) {
              <div class="error-text">
                Nombre del empleado es requerido*
              </div>
            }
          </div>
          <div class="mb-3">
            <label class="form-label">Puesto de trabajo*</label>  
            <select 
              formControlName="position" 
              class="form-select"
              [ngClass]="{'is-invalid': employeeDataFormSubmited && employeeDataForm.controls['position'].errors}"
            >
              <option selected value="null">Seleccionar</option>
              @for (position of employeePosition; track $index) {
                <option [value]="position">{{ position }}</option>
              }
            </select>
            @if (employeeDataForm.controls['position'].hasError('required') && employeeDataFormSubmited) {
              <div class="error-text">
                Debe seleccionar un puesto de trabajo*
              </div>
            }
          </div>
          <div class="mb-3">
            <label class="form-label">Email*</label>  
            <input 
              formControlName="email" 
              class="form-control" 
              type="email" 
              placeholder="Email del empleado"
              [ngClass]="{'is-invalid': employeeDataFormSubmited && employeeDataForm.controls['email'].errors}"
            >
            @if (employeeDataForm.controls['email'].hasError('required') && employeeDataFormSubmited) {
              <div class="error-text">
                Email es requerido*
              </div>
            }
            @if (employeeDataForm.controls['email'].hasError('email') && employeeDataFormSubmited) {
              <div class="error-text">
                Formato de email invalido*
              </div>
            }
          </div>
        </div>
        <div class="col-12 col-md-6"> 
          <div class="mb-3">
            <label class="form-label">Apellidos*</label>  
            <input 
              formControlName="lastName" 
              class="form-control" 
              type="text" 
              placeholder="Apellido(s) del empleado"
              [ngClass]="{'is-invalid': employeeDataFormSubmited && employeeDataForm.controls['lastName'].errors}"
            >
            @if (employeeDataForm.controls['lastName'].hasError('required') && employeeDataFormSubmited) {
              <div class="error-text">
                Apellido del empleado requerido*
              </div>
            }
          </div>
          <div class="mb-3">
            <label class="form-label">Fecha de nacimiento*</label>  
            <div class="input-group">
              <input
                formControlName="dateOfbirth"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #d="ngbDatepicker"
                (click)="d.toggle()"
                [ngClass]="{'is-invalid': employeeDataFormSubmited && employeeDataForm.controls['dateOfbirth'].errors}"
              />
            </div>
            @if (employeeDataForm.controls['dateOfbirth'].hasError('required') && employeeDataFormSubmited) {
              <div class="error-text">
                Fecha de nacimiento del empleado requerida*
              </div>
            }
          </div>
          @if (employeeModalType === 'EDIT') {
            <div class="mb-3">
              <button 
                appAccessControl
                displayMode="inline-block"
                [email]="employeeDataForm.value.email!"
                class="btn btn-danger w-100" 
                (click)="deleteEmployee()"
              >
                Eliminar la compañía
                <i class="las la-sign-out-alt"></i>
              </button>
            </div>
          }
        </div>
      </div>
      <!-- action footer buttons for this modal -->
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-outline-primary"
          (click)="closeModal()"
        >
          Cancelar
        </button>
        <button 
          type="submit" 
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
      <!-- action footer buttons for this modal end's -->
    </form>
  </ng-template> 
</app-custom-modal> 
<!-- edit or add employees modal end's -->